
@{
    ViewData["Title"] = "ReadMe";
}

<h2>ReadMe</h2>

<p>
    There should be two config keys named "spotify:client_id" and "spotify:client_secret" which are filled using your Spotify client id and client secret.
</p>
<p>
    If you are using visual studio, right click on SpotiList project name in Solution Explorer and choose "Manage User Secrets" and put this code there.
</p>
<blockquote>
    {
    "spotify": {
    "client_id": "yourClientId_Should_be_here",
    "client_secret": "yourClientSecret_Should_be_here"
    }
    }
</blockquote>
<p>
    You may <a href="https://docs.microsoft.com/en-us/aspnet/core/security/app-secrets?view=aspnetcore-2.1&tabs=visual-studio">read this</a> to get more information about user secrets.
</p>
